<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Yakupova_GlazkiEntities" connectionString="metadata=res://*/YakupovaModel.csdl|res://*/YakupovaModel.ssdl|res://*/YakupovaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KUGQ5PI\SQLEXPRESS01;initial catalog=Yakupova_Glazki;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>